* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    border: none;
    outline: none;
    font-size: 300;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
}

body {
    background-color: #000;
}

a {
    text-decoration: none;
}
/* TOP */
.top {
    width: 100%;
    float: left;
    padding: 3% 4%;
    background-color: #000000;
}

.logo {
    width: 55px;
    height: 55px;
    float: left;
    background: url(../img/logo-mobile.png) center center/55px no-repeat;
    font-size: 0;
}

.btn-menu {
    width: 55px;
    height: 55px;
    float: right;
    text-align: center;
    color: #fff;
    background: linear-gradient(to right, #da6709, #8a3f02);
    border-radius: 55px;
    cursor: pointer;
}

/* MENU */

.menu {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
}

.btn-close {
    font-size: 1.5em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin: 2% 3% 0 0;
}

.menu ul {
    width: 100%;
    float: left;
    text-align:  center;
}

.menu li {
    padding: 1%;
}

.menu li a {
    font-size: 2em;
    color: #fff;
    padding: 1,5% 3%;
}

.menu li a:hover {
    color: #da6709;
    border: 1px;
}

/* BANNER */

.banner {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background: url(../img/bg.jpg) no-repeat fixed;
}

.title {
    width: 100%;
}

.title h2 {
    font-size: 2.5em;
    color: #fff;
    font-weight: 700;
}

.title h3 {
    font-size: 1.5em;
    font-weight: lighter;
    color: #fff;
    margin-bottom: 3%;
}

.banner-buttons {
    width: 100%;
    float: right;
    margin-top: 2%;
}

.btn {
    width: 100%;
    font-size: 1.5em;
    text-align: left;
    cursor: pointer;
    padding: 5%;
    border-radius: 10px;
}

.btn i {
    float: right;
}

.btn-register {
    background-color: #fff;
    color: #130400;
}

.btn-about {
    background-color: #130400;
    color: #fff;
    margin-top: 2%;
}

/* ARTICLES */

.matter {
    max-width: 100%;
    float: left;
    padding: 3% 4%;
}

.coffee-article {
    max-width: 100%;
    background-color: #fff;
    text-align: left;
    margin-bottom: 3%;
    border-radius: 7px 7px 0 0;
}

.coffee-article img {
    width: 100%;
    border-radius: 7px 7px 0 0;
}

.inner {
    padding: 7%;
}

.inner a {
    font-size: 1.5em;
    font-weight: 700;
    color: #130400;
}
.inner h4 {
    font-size: 1.1em;
    font-weight: 25;
    color: #130400;
    margin-top: 1%;
    margin-bottom: 5%;
}
.inner p {
    color: #130400;
    line-height: 1.5em;
}

/* NEWSLETTER */

.newsletter {
    width: 100%;
    float: left;
    text-align: center;
    padding: 3% 4%;
    background-color: #130400;
}

.newsletter h2 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 700;
}

.newsletter h3 {
    color: #fff;
    font-weight: lighter;
}

.newsletter form {
    margin-top: 2%;
}

.newsletter input {
    width: 100%;
    color: #fff; 
    background-color: #130400;;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 5%;
    border-radius: 7px;
}

.newsletter button {
    width: 100%;
    color: #130400;
    cursor: pointer;
    padding: 5%;
    margin-top: 2%;
    border-radius: 7px;
}